@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Oxanium', cursive;
}


body{
    font-family: cursive;
    margin: 0 auto;
    justify-content: center;
}

header{
    width: 100%;
    height: 100px;
    background: red;
    display: flex;
    align-items: center;
    background-image: "../images/pokedex.png";
    gap: 15%;
    justify-content: center;
}

header .contains .inputSearch{
    border-radius: 5px;
    padding: 4%;
    font-size: clamp(5%, 4vw, 18px);
    outline: none;
    border: 2px solid #333;

    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

header .contains .inputSearch::placeholder{
    color: black;
}


header .contains2 .selectType{
    border-radius: 5px;
    border: 2px solid #333;

    padding: 4%;
    font-size: clamp(5%, 4vw, 18px);
    outline: none;

    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

header .contains2 label {
    font-size: clamp(5%, 4vw, 15px);
}

main{
    justify-content: center;
    background: linear-gradient(180deg, #bce5ff 0, #9db9f2 50%, #7e8fb3 100%);;
}


#containerPokemons{   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.card{
    position: relative;
    margin: 2% 15px;
}

.imagePokedex {
    width: 100%;
    max-width: 425px;
}

.gifPokemon{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, 20%);
    height: 15%;
}

.cardTitle{
    position: absolute;

    bottom: 41%;
    
    right: 25%;

    font-size: clamp(5%, 4vw, 25px);

}

.pokemonName{
    text-transform: capitalize;
    color: #aaa;
}

.pokemonNumber{
    color: #3a444d;
}

.buttonInfo{
    position: absolute;
    padding: 3% 10%;
    bottom: 10%;
    right: 18%;
    border-radius: 5px;
    border: 2px solid #000;
    font-size: clamp(5px, 5vw, 1rem);
    color: white;
    font-weight: 600;
    background-color: #444;
    box-shadow: -2px 3px 0 #000, -4px 6px 0 #000;
}

.buttonInfo:active {
    box-shadow: inset -4px 4px 0 #222;
}

.buttonInfo:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}

.buttonsPagination{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.buttonsPagination #buttonPrevius{
    padding: 1% 3%;
    background: #333;
    border: 1px solid #000;
    font-size: clamp(5px, 5vw, 1rem);
    color: white;
    border-radius: 15px;
}
.buttonsPagination #buttonPrevius{
    padding: 1% 3%;
    background: #333;
    border: 1px solid #000;
    font-size: clamp(5px, 5vw, 1rem);
    color: white;
    border-radius: 15px;
}

.buttonsPagination #buttonNext{
    padding: 1% 3%;
    background: #333;
    border: 1px solid #000;
    font-size: clamp(5px, 5vw, 1rem);
    color: white;
    border-radius: 15px;
}

@media(max-width: 690px){
    header{
        height: 200px;
        flex-direction: column;
        gap: 20px;
    }
}