@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Oxanium', cursive;
}


body{
    font-family: cursive;
    margin: 0 auto;
    justify-content: center;
}

header{
    width: 100%;
    height: 100px;
    background: red;
    display: flex;
    align-items: center;
    background-image: "../images/pokedex.png";
    gap: 5%;
    justify-content: center;
}

header .contains .inputSearch{
    border-radius: 5px;
    padding: 4%;
    font-size: clamp(5%, 4vw, 18px);
    outline: none;
    border: 2px solid #333;

    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

header .contains .inputSearch::placeholder{
    color: black;
}


header .contains2 .selectType, .selecTypeSearch{
    border-radius: 5px;
    border: 2px solid #333;

    padding: 4%;
    font-size: clamp(5%, 4vw, 18px);
    outline: none;

    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}


main{
    justify-content: center;
    background: linear-gradient(180deg, #bce5ff 0, #9db9f2 50%, #7e8fb3 100%);;
}

.contains2{
    display: none;
    align-items: center;
    gap: 5%;
}

.contains{
    align-items: center;
    display: none;
}

label{
    font-size: clamp(5%, 4vw, 18px);
    min-width: 30%;
    color: white;
}

#containerPokemons{   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.card{
    position: relative;
    margin: 2% 15px;
    max-height: 650px;
}

.imagePokedex {
    width: 100%;
    max-width: 425px;
}

.gifPokemon{
    position: absolute;
    bottom: 55%;
    left: 45%;
    transform: translate(-50%, 20%);
    height: 15%;
}

.cardTitle{
    position: absolute;

    bottom: 41%;
    
    right: 25%;

    font-size: clamp(1%, 4vw, 20px);

    max-width: 425px;
}
 
.pokemonName{
    text-transform: capitalize;
    color: #aaa;
}

.pokemonNumber{
    color: #3a444d;
}

.spanElement{
    padding: 15%;
    border-radius: 5px;
    text-transform: capitalize;
}

.spanGrass{
    background: #5aaf7a;
}


.spanBug{
    background: #559a64;

}

.spanDark{
    background: #060a07;
    color: white;
}


.spanDragon{
    background: #4d968e;
}


.spanElectric{
    background: #c3c96a;
}


.spanFairy{
    background: #eb8de3;
}


.spanFighting{
    background: #a95054;
}


.spanFire{
    background: #ff1a0a;
}


.spanFlying{
    background: #4b687d;
}


.spanGhost{
    background: #80698f;
}


.spanNormal{
    background: #939ca5;
}


.spanPsychic{
    background: #ad648c;
}


.spanGround{
    background: #a18052;
}


.spanSteel{
    background: #7da596;
}


.spanIce{
    background: #9acde0;
}


.spanPoison{
    background: green;
}


.spanWater{
    background: #2057cf;
}

.spanRock{
    background: #6e6767;
}

.divTypes{
    font-size: clamp(5px, 5vw, 1rem);
    position: absolute;
    display: flex;
    width: 20%;
    gap: 5%;
    top: 70%;
    left: 10%;
}


.buttonInfo{
    position:absolute;
    padding: 3%;
    bottom: 10%;
    right: 18%;
    border-radius: 5px;
    border: 2px solid #000;
    font-size: clamp(5px, 5vw, 1rem);
    color: white;
    font-weight: 600;
    background-color: #444;
    box-shadow: -2px 3px 0 #000, -4px 6px 0 #000;
}

.buttonInfo:active {
    box-shadow: inset -4px 4px 0 #222;
}

.buttonInfo:hover, .buttonsPagination #buttonNext:hover, .buttonsPagination #buttonPrevius:hover {
    background-color: #3a3a3a;
    cursor: pointer;
}

.buttonsPagination{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.buttonsPagination #buttonPrevius{
    padding: 1% 3%;
    background: #333;
    border: 1px solid #000;
    font-size: clamp(5px, 5vw, 1rem);
    color: white;
    border-radius: 15px;
}
.buttonsPagination #buttonPrevius{
    padding: 1% 3%;
    background: #333;
    border: 1px solid #000;
    font-size: clamp(5px, 5vw, 1rem);
    color: white;
    border-radius: 15px;
}

.buttonsPagination #buttonNext{
    padding: 1% 3%;
    background: #333;
    border: 1px solid #000;
    font-size: clamp(5px, 5vw, 1rem);
    color: white;
    border-radius: 15px;
}

@media(max-width: 690px){
    header{
        height: 275px;
        flex-direction: column;
        gap: 20px;
    }
}