@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Oxanium', cursive;
}

header{
    width: 100%;
    height: 100px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: "../images/pokedex.png";
}

body{
    font-family: cursive;
    margin: 0 auto;
    justify-content: center;
}

main{
    justify-content: center;
}


#containerPokemons{   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #bce5ff 0, #9db9f2 50%, #7e8fb3 100%);;
    min-height: 100vh;
}

.card{
    position: relative;
    margin: 2% 15px;
}

.imagePokedex {
    width: 100%;
    max-width: 240px;
}

.card-title{
    position: absolute;
    left: 40%;
    top: 55%;
    font-size: 80%;
}

.gifPokemon{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, 20%);
    height: 15%;
}